@import "../components/base.css";

.detail__link, .detail__tags {
  font-family: GTAmericaExtended;
  opacity: .5;
}

.close__right, .close__center {
  width: 100%;
  display: flex;
}

.close__right {
  justify-content: flex-end;
}

.close__center {
  justify-content: center;
  margin-top: 4rem;
}

.detail__link {
  border-bottom: .1rem solid white;
  padding-bottom: .3rem;
}

.detail__link:hover {
  opacity: 1;
  transition: .2s all;
}

.detail__title {
  font-family: GTAmericaExpandedBlack;
  font-weight: bold;
  line-height: 6.2rem;
  font-size: 5rem;
  margin-bottom: .5rem;
}

.detail__header {
  margin: 4.9rem 0 6.1rem;
}

.detail__intro {
  font-family: GTAmericaExtended;
  font-size: 3rem;
  line-height: 4.4rem;
  margin-bottom: 4.9rem
}

.detail__infoList {
  display: flex;
  justify-content: space-between;
  width: 61%;
}

.detail__infoItem {
  max-width: 14.5rem;
}

.detail__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail__projectLink {
  font-family: GTAmericaExtended;
  width: 22%;
  border: .1rem solid var(--grey);
  padding: 2rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .2s all;
}

.detail__projectLink::after {
  content: '';
  display: block;
  background: url(../images/arrow.svg) no-repeat;
  width: 3.2rem;
  height: 1.4rem;
  margin-left: 1.2rem;
  transition: .2s all;
}

.detail__projectLink:hover {
  transition: .2s all;
  border: .1rem solid white;
  padding: 2rem 0 2rem calc((22% / 2) - (12.64rem / 2));
}

.detail__projectLink:hover::after {
  opacity: 0;
  transition: .2s all;
}

.detail__heading {
  font-family: GTAmericaExtended;
  opacity: .5;
  font-size: 1.4rem;
  margin-bottom: .8rem;
}

.detail__subtitle {
  font-size: 2rem;
  font-family: GTAmericaExpanded;
  opacity: .5;
  grid-area: title;
}

.detail__content {
  display: grid;
  grid-template-areas: 'title body';
  grid-template-columns: 35% 65%;
  width: 100%;
}

.detail__content .text {
  grid-area: body;
}

.detail__video {
  width: 100%;
  height: auto;
}

.detail__video:focus {
  outline: none;
}

.detail__body {
  margin-bottom: 9.8rem;
}

@media only screen and (max-width: 1100px) {

  .detail__projectLink {
    width: 25%;
  }

  .detail__projectLink:hover {
    padding: 2rem 0 2rem calc((25% / 2) - (12.64rem / 2));
  }
}

@media only screen and (max-width: 1010px) {

  .detail__projectLink {
    width: 28rem;
    margin-top: 5rem;
    padding: 2rem;
  }

  .detail__projectLink:hover {
    padding: 2rem 0 2rem calc((28rem / 2) - (12.64rem / 2));
  }

  .detail__info {
    display: block;
  }

  .detail__infoList {
    width: 80%;
  }

}

@media only screen and (max-width: 900px) {

  .detail__infoList {
    width: 100%;
  }

  .detail__content {
    display: block;
  }

  .detail__subtitle {
    margin-bottom: 2rem;
  }

  .detail__body {
    margin-bottom: 5rem;
  }

  .detail__header {
    margin: 4.9rem 0 5rem;
  }
}

@media only screen and (max-width: 760px) {

  .detail__title {
    line-height: 4.2rem;
    font-size: 3rem;
    margin-bottom: .5rem;
  }

  .detail__tags {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .detail__intro {
    font-size: 2.2rem;
    line-height: 3.4rem;
  }

  .detail__infoItem {
    max-width: 24%;
  }
}

@media only screen and (max-width: 500px) {

  .detail__infoList {
    flex-flow: row wrap;
    margin-bottom: 0;
  }

  .detail__infoItem {
    width: 45%;
    max-width: 45%;
  }

  .detail__infoItem:first-of-type, .detail__infoItem:nth-child(2) {
    margin-bottom: 3rem;
  }

  .detail__title {
    line-height: 3.8rem;
    font-size: 2.8rem;
    margin-bottom: .5rem;
  }

  .detail__tags {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .detail__intro {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 4rem;
  }

  .close__right {
    margin-bottom: 1.5rem;
  }

  .close__right, .close__center {
    font-size: 1.4rem;
  }

  .detail__subtitle {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 400px) {

  .detail__projectLink {
    width: 100%;
  }

  .detail__projectLink:hover {
    padding: 2rem 0 2rem calc((100% / 2) - (12.64rem / 2));
  }
}
