@import '../components/base.css';

.info {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 18.5rem);
  justify-content: space-around;
}

.info__about {
  max-width: 83.4rem;
}

.info__name {
  color: transparent;
  -webkit-text-stroke: 1.5px white;
}

.info__name:hover {
  cursor: url(../images/hand.png), auto;
}

.info__text {
  font-family: GTAmericaExtended;
  font-size: 4.5rem;
  line-height: 5.4rem;
}

.info__contact {
  display: flex;
  max-width: 67.3rem;
  justify-content: space-between;
  align-items: flex-end;
}

.info__mail {
  font-size: 4.2rem;
  line-height: 5.2rem;
}

.info__mail a {
  border-bottom: .2rem solid var(--grey);
  display: inline;
}

.info__mail a:hover {
  border-bottom: .2rem solid white;
  transition: .2s all;
}

.info__socials {
  font-size: 2.2rem;
  line-height: 3.5rem;
  display: flex;
  width: 22.1rem;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {

  .info {
    height: auto;
    display: block;
  }

  .info__text {
    margin-bottom: 10rem;
  }

  .info__about {
    max-width: 100%;
  }
}

@media only screen and (max-width: 760px) {

  .info__text {
    font-size: 3.5rem;
    line-height: 4.4rem;
  }

  .info__mail {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .info__socials {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {

  .info__text {
    font-size: 2.8rem;
    line-height: 3.8rem;
    margin-bottom: 5rem;
  }

  .info__name {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }

  .info__mail {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 4rem;
  }

  .info__contact {
    display: block;
  }
}
