@import '../components/base.css';

.hide {
  display: none;
}

.text {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: white;
  font-family: GTAmerica, Arial, Helvetica, sans-serif;
}

.link {
  border-bottom: .1rem solid rgb(0, 0, 0, 0);
}

.link:hover {
  border-bottom: .1rem solid white;
  transition: .2s all;
}
