.hide {
  display: none;
}

.text {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: white;
  font-family: GTAmerica, Arial, Helvetica, sans-serif;
}

.link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 760px) {
  
}