.index__projects {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.index__project {
  width: calc((99vw - 8rem) / 2);
  max-width: 65rem;
  height: auto;
  position: relative;
}

.index__projectInfo {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
}

.index__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 65%) 0%, rgba(59, 11, 19, 65%) 100%);
  transition: opacity .2s ease-in-out;
  opacity: 0;
}

.index__projectLink:hover .index__overlay {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.index__projectLink {
  width: inherit;
  height: inherit;
}

.index__projectItem {
  transform-origin: center;
  transition: all 1s cubic-bezier(.08, .82, .17, 1);
}

.index__projectLink:hover .index__projectItem {
  transition: all 1s cubic-bezier(.08, .82, .17, 1);
}

.index__tags {
  font-family: GTAmericaExtended;
  font-size: 1.5rem;
  order: -1;
  margin-bottom: 1rem;
}

.index__projectTitle {
  font-family: GTAmericaExpandedBlack;
  font-size: 2.8rem;
}

@media only screen and (max-width: 900px) {

  .index__project {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
