:root {
  --background: black;
  --accent: #fff469;
  --grey: #7f7f7f;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after { /*stylelint-disable-line*/
  box-sizing: inherit;
}

body {
  background: var(--background);
  color: white;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 140rem;
}

.wf-active {
  font-family: GTAmerica, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  padding: 4rem;
}

.header__nav--active {
  opacity: 1;
}

.info__img {
  max-width: 38.4rem;
  max-height: auto;
  height: auto;
  width: 118.5rem;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
  transition: transform 1s cubic-bezier(.08, .82, .17, 1);
}

.index__projectImg {
  filter: brightness(75%);
}

.detail__coverImg {
  width: 100%;
  height: auto;
}

.blocktext__img {
  width: 49%;
  height: auto;
}

.tl-edges {
  overflow: visible;
}

.tl-wrapper-status--entered main {
  transition: all .3s;
  transform: translateY(0);
  opacity: 1;
}

.tl-wrapper-status--entering main, .tl-wrapper-status--exiting main {
  transition: all .3s;
  transform: translateY(10rem);
  opacity: 0;
}

@media only screen and (max-width: 900px) {

  .info__img {
    opacity: 1;
    transform: unset;
    max-width: 28.4rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 760px) ti{

  .blocktext__img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {

  .blocktext__img {
    margin-bottom: 1rem;
  }

  .info__img {
    max-width: 70%;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {

  .wrapper {
    padding: 2rem 1.5rem;
  }
}
