html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after { /*stylelint-disable-line*/
  box-sizing: inherit;
}

body {
  background: lightgrey;
  font-size: 1.6rem;
}
