@import 'base';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: GTAmericaExpanded;
  margin-bottom: 8rem;
  font-size: 2.2rem;
}

.header__title {
  text-transform: uppercase;
}

.header__title a {
  color: var(--accent);
}

.header__list {
  display: flex;
  flex-direction: row;
}

.header__link {
  margin-left: 4rem;
  opacity: .5;
}

.header__link:hover {
  opacity: .7;
  transition: .2s all;
}

@media only screen and (max-width: 760px) {

  .header {
    font-size: 1.9rem;
  }

  .header__link {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 500px) {

  .header {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }

}
