@font-face {
  font-family: GTAmerica;
  src: url(GTAmerica-Regular.woff2) format('woff2'), url(GTAmerica-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: GTAmericaExtended;
  src: url(GTAmerica-ExtendedRegular.woff2) format('woff2'), url(GTAmerica-ExtendedRegular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: GTAmericaExtended;
  src: url(GTAmerica-ExtendedBlack.woff2) format('woff2'), url(GTAmerica-ExtendedBlack.woff) format('woff');
  font-style: bold;
  font-weight: 1000;
}

@font-face {
  font-family: GTAmericaExpanded;
  src: url(GTAmerica-EpandedMedium.woff2) format('woff2'), url(GTAmerica-EpandedMedium.woff) format('woff');
  font-style: bold;
  font-weight: 1000;
}

@font-face {
  font-family: GTAmericaExpanded;
  src: url(GTAmerica-EpandedMedium.woff2) format('woff2'), url(GTAmerica-EpandedMedium.woff) format('woff');
  font-style: bold;
  font-weight: 800;
}
